extends _layout

block append attributes
	- var title = 'siky.jp'
	include Variables/_Products
	include module/_svg-github
block append meta
	script(src='/assets/script/index.js')
block body
	section.grid.grid-2cols
		.grid-2cols-col
			img.grid-2cols-col-img(src='http://asuka.absolute-ze.ro/img/cinderella_17.png')
		.grid-2cols-col
			h1 Siky.jp
			p はろーはろーはろー。
			p こちらオタク、こちらオタク。
			p 応答せよ、応答せよ&mdash;&mdash;
			h2 略歴
			dl
				dt 2012
				dd in 大学
	section.grid
		h2 主だった製作物
		each product in Products
			.segment
				.segment-header
					.segment-header-aside
						- ribbon = `mod-${product.mainLanguage.toLowerCase()}`
						span.segment-header-aside-ribbon(class=ribbon)= product.mainLanguage
					.segment-header-main
						h3.segment-header-main-content= product.name + ' '
							if product.repository.type == 'github'
								a(href=product.repository.href target='_blank')
									+svg-github('1em')
						ul.segment-header-main-labels
							each lang in product.languages
								- label = `mod-${lang.toLowerCase()}`
								li.segment-header-main-labels-label(class=label)= lang
				.segment-body
					p= product.overview
	.grid
		h2 主だった経歴
		.segment
			.segment-header
				.segment-header-main
					h3.segment-header-main-content いつぞや
			.segment-body
				p あれした
