extends _layout

block append attributes
	- var title = 'siky.jp'
	include Variables/_Products
	include module/_svg-github
block append meta
	script(src='/assets/script/index.js')
block body
	section.grid.grid-2cols
		.grid-2cols-col
			img.grid-2cols-col-img(src='http://asuka.absolute-ze.ro/img/cinderella_17.png',width='100%')
		.grid-2cols-col
			h1.grid-heading.m-large Siky.jp
			section.u-font-lato
				h2 > whoami
				dl
					dt Name
					dd Kyohei SASAKI (Pseudonym)
						br
						| a.k.a. @sota_n, Sotalbireo.
					dt Location
					dd Saitama, JP
	section.grid
		h2.grid-heading Produces
		each product in Products
			.segment
				.segment-header
					.segment-header-aside
						- ribbon = `mod-${product.mainLanguage.toLowerCase()}`
						span.segment-header-aside-ribbon(class=ribbon)= product.mainLanguage
					.segment-header-main
						h3.segment-header-main-content= product.name + ' '
							if product.repository.type == 'github'
								a(href=product.repository.href target='_blank')
									+svg-github('1em')
						ul.segment-header-main-labels
							each lang in product.languages
								- label = `mod-${lang.toLowerCase()}`
								li.segment-header-main-labels-label(class=label)= lang
				.segment-body
					p= product.overview
	section.grid
		h2.grid-heading Career
		.segment
			.segment-header
				.segment-header-main
					h3.segment-header-main-content April 2012
			.segment-body
				p Matriculate at Tokyo University of Science
		.segment
			.segment-header
				.segment-header-main
					h3.segment-header-main-content June 2013
			.segment-body
				p Started part-time job as an Assistant front-end engineer
